///////////change order freely/////////////////////////////////////////////

//----------------"任意の順番に並べ替え"追加---------------------------
const li = document.createElement("li");
const parentList = document.querySelector('ul[aria-labelledby = "sortingdropdown"]');
li.innerHTML ='<a class="dropdown-item" id = "sort-free-mode" href="#" data-filter="sort" role="menuitem">任意の順番に並べ替える</a>';

if (parentList)
    parentList.appendChild(li);

//-----------------現在の並べ方(コース名/マイコース/任意)をlocalStrageに保存-----------------------
if (parentList) {
const sortByCourseName = parentList.querySelector('a[data-pref = "title"][data-value="fullname"]');
const sortByMyCourse = parentList.querySelector('a[data-pref = "lastaccessed"][data-value="ul.displayorder asc"]');

li.addEventListener("click",()=>localStorage.setItem("currentLi","任意の順番に並べ替える"));
sortByCourseName.addEventListener("click",()=>localStorage.setItem("currentLi","コース名で並べ替える"));
sortByMyCourse.addEventListener("click",()=>localStorage.setItem("currentLi","マイコース設定順に並べ替える"));
}
//-----------------------------------------------------------------------

const setArrow = () => {
    if (localStorage.getItem("currentLi") !== "任意の順番に並べ替える") return; 
    setTimeout(() => {
        const courseContainer = document.querySelector('ul.list-group'); //ダッシュボード
        if (courseContainer) {
            //-------------------順番をlocalStrageに保存--------------------------------------------------------
            const courseItems = Array.from(courseContainer.querySelectorAll('li'));
            const save = () => {
                if (courseItems[0]) {
                const temporaryCourseItems = Array.from(courseContainer.querySelectorAll('li'));
                localStorage.setItem("courseOrder",JSON.stringify(temporaryCourseItems.map(li => li.innerText.trim())));
                }
            };

            if (courseItems[0]) {
                courseItems.forEach((item) => {
                    //-------------↑↓ボタン追加-------------------------------------------------------
                    const arrow = document.createElement("div");
                    arrow.innerHTML = '<button class="up-button mr-2">↑</button>  <button class ="down-button">↓</button>';
                    item.appendChild(arrow);

                        //-----------------↑↓クリックイベント------------------------------------------
                    const upButton = arrow.querySelector('.up-button');
                    const downButton = arrow.querySelector('.down-button');    
                    upButton.addEventListener("click",(e) => {
                        const prevLi = item.previousElementSibling;
                        e.stopPropagation();
                        if (prevLi) {
                        courseContainer.insertBefore(item, prevLi);  //↑が押されたとき、入れ替え
                        save();
                        }

                    } )
                
                    downButton.addEventListener("click", (e) => {
                        const nextLi = item.nextElementSibling;
                        e.stopPropagation()
                        if (nextLi) {
                        courseContainer.insertBefore(item,nextLi.nextElementSibling); //↓が押されたとき、入れ替え
                        save();
                        }
                    })
                        //----------------------------------------------------------------------
                });
            }
        }
    },600);


}


//"任意の順番に並べ替える"
li.addEventListener("click", (e)=> {  
e.preventDefault();
setArrow();});

/// すべて/進行中/未来 など、コース概要の左上のやつ
const showModeParent = document.querySelector('ul[aria-labelledby="groupingdropdown"]');
if (showModeParent) {
    const showMode = showModeParent.querySelectorAll("li");
    showMode.forEach(mode => {
    mode.addEventListener("click",(e) => {
        e.preventDefault();
        setArrow();
    })
});
}

const search = document.getElementById("serchinput");
search.addEventListener("keydown", (e)=> {
    e.preventDefault();
    setArrow();
});

//////////////////////////retrieve_order//////////////////////////////


//----------------------並べ方が"任意の順番"のとき、復元-----------------------
const parentList2 = document.querySelector('ul[aria-labelledby = "sortingdropdown"]');
const li2 = document.getElementById("sort-free-mode");

const currentLi2=localStorage.getItem("currentLi");

    console.log("same mode"); 
window.addEventListener("load",(e) =>{
    e.preventDefault();
    setTimeout(() => {
        if (currentLi2==="任意の順番に並べ替える") {
            if (li2) li2.click();
        }      
    },600);
});

//--------------------------------並び順を復元-------------------------


    if (li2) {
        li2.addEventListener("click", (e) => {
            setTimeout(() =>{
                e.preventDefault();
                const courseContainer2 = document.querySelector('ul.list-group');
                const saveData = localStorage.getItem("courseOrder");

                if (saveData) {
                    const orderArray = JSON.parse(saveData);  
                    const courseItems2=Array.from(courseContainer2.querySelectorAll("li"));
                    for (let name of orderArray) {
                        const targetLi = courseItems2.find(item => item.innerText.trim().includes(name) || name.includes(item.innerText.trim()));
                        if (targetLi) courseContainer2.appendChild(targetLi);

                    };

                }
           },600);
        });
    }

// -------------------------------------------------------------------
