#display {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: start;
    overflow: scroll;
    border-color: burlywood;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.assign,.quiz {
    margin: 5px;
    margin-top: 20px;
    border-color: cadetblue;
    border-width: 1px;
    border-style: solid;
    min-width: 250px;
    max-width: 300px;
    padding: 10px;
    max-height: 450px;
    border-radius: 5px;
}


.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    overflow-x: scroll;
    white-space: nowrap;
}

.complete {
    background-color: lightgreen;
}

.complete .title {
    color: green;
}

.qualified {
    background-color: lightblue;
}

.qualified .title {
    color: blue;
}

.incomplete {
    background-color: lightyellow;
}

.warning {
    background-color: rgb(255, 182, 129);
}

.warning .title {
    color: red;

}

.expired {
    background-color: rgb(216, 145, 145);
}

.expired .title {
    background-color: red;
    color: white;
}

.stuck {
    background-color: rgb(161, 161, 161);
}

.unknown {
    background-color: rgb(200, 200, 200);
}

.assignbox, .quizbox {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    overflow-x: scroll;
    white-space: nowrap;
}

.info {
    font-size: 16px;
    margin-bottom: 5px;
}

.type {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
text-align: center;
 }

.filterlabel {

    margin-bottom: 5px;
    margin-left: 10px;
}