/* table tr td:nth-child(odd) { */
/*   background-color: #71abcf; */
/* } */
/**/
/* table tr td:nth-child(even) { */
/*   background-color: #1d2831; */
/* } */
body {
  background-color: #1d2831;
  color: #dddddf;
}

a {
  color: #f0f0f2;
}
